@use '../abstracts/variables' as var;

.l-container {
  max-width: var.$container-max-width;
  margin-inline: auto;

  &--secondary {
    background-color: var(--background-secondary);
  }

  &--narrow {
    width: var.$container-narrow-max-width;
    container-name: narrow-container;
    container-type: inline-size;
    box-shadow: 0 var.$spacing-xxl var.$spacing-xxl
      color-mix(in srgb, var(--foreground) 10%, var(--main-color) 0%);
  }

  &--full {
    width: 100%;
  }

  @media (max-width: var.$breakpoint-lg) {
    width: 95%;
    max-width: 95vw;
  }
  @media (max-width: var.$breakpoint-md) {
    width: 98%;
    max-width: 98vw;
    &--narrow {
      width: 100%;
      max-width: 100vw;
    }
  }
}
