@use '../abstracts/variables' as var;

.l-container {
  max-width: var.$container-max-width-lg;
  margin-inline: auto;

  &--secondary {
    background-color: var(--background-secondary);
  }

  &--narrow {
    max-width: var.$container-max-width-sm;
    container-name: narrow-container;
    container-type: inline-size;
  }

  &--full {
    width: 100%;
  }

  @media (max-width: var.$breakpoint-lg) {
    width: 95%;
    max-width: 95vw;
  }
  @media (max-width: var.$breakpoint-md) {
    width: 100%;
    max-width: 98vw;
    &--narrow {
      width: 100%;
      max-width: 98vw;
    }
  }
}
