@use '@/styles/abstracts/variables' as var;

.c-accordion {
  max-width: var.$container-max-width-lg;
  margin-block-end: var.$spacing-md;
  border: 2px solid var(--line-color);
  border-radius: var.$border-radius-xl;

  summary {
    position: relative;
    display: flex;
    align-items: center;
    padding: 1em 2em;
    font-size: 1.2rem;
    font-weight: 600;
    cursor: pointer;
    background-color: var(--background);
    border-radius: var.$border-radius-xl;
    transition: border-radius 0.1s;

    &::-webkit-details-marker {
      display: none;
    }

    &::before,
    &::after {
      position: absolute;
      right: 2em;
      width: 3px;
      height: 0.9em;
      content: '';
      background-color: var(--foreground);
      border-radius: 5px;
      transition:
        transform 0.3s,
        rotate 0.3s;
    }

    &::before {
      transform: rotate(90deg);
    }
    &::after {
      transform: rotate(0deg);
    }
  }

  p {
    padding: 1em 2em 2em 2em;
    margin: 0;
    opacity: 0;
    transform: translateY(-10px);
    transition:
      transform 0.5s,
      opacity 0.5s;
  }
}

.c-accordion[open] {
  background-color: color-mix(in srgb, var(--background) 80%, var(--main-color) 20%);

  summary {
    border-radius: var.$border-radius-xl var.$border-radius-xl 0 0;
  }

  summary::after {
    transform: rotate(90deg);
  }

  p {
    opacity: 1;
    transform: none;
  }
}

.c-accordion--qa {
  border: none;
  summary {
    font-weight: var.$font-weight-bold;
    background-color: var(--sub-color);

    &::before {
      position: static;
      width: auto;
      height: auto;
      margin-inline-end: var.$spacing-sm;
      font-size: 1rem;
      content: 'Q . ';
      background-color: transparent;
      transform: none;
    }

    &::after {
      position: absolute;
      top: 50%;
      right: 2em;
      width: var.$spacing-sm;
      height: var.$spacing-sm;
      background-color: transparent;
      border-right: 3px solid var(--foreground);
      border-bottom: 3px solid var(--foreground);
      border-radius: 0;
      transform: translateY(-25%) rotate(-45deg);
    }
  }

  p:first-of-type {
    &::before {
      margin-inline-end: var.$spacing-sm;
      font-weight: var.$font-weight-bold;
      content: 'A . ';
    }
  }
}

.c-accordion--qa[open] {
  background-color: color-mix(in srgb, var(--background) 80%, var(--sub-color) 20%);
  summary::after {
    transform: rotate(45deg);
  }
}
.c-accordion--qa:nth-child(even) {
  summary {
    background-color: var(--main-color);
  }
  &[open] {
    background-color: color-mix(in srgb, var(--background) 80%, var(--main-color) 20%);
  }
}
