@use '@/styles/abstracts/variables' as var;
@use '@/styles/abstracts/mixins' as mixins;

%box-base {
  display: flex;
  align-items: flex-start;
  padding: var.$spacing-sm;
  margin-block: var.$spacing-md;
  border-radius: var.$border-radius-lg;

  > :last-child {
    margin-bottom: 0;
  }
  > :first-child {
    margin-bottom: inherit;
  }
}

.c-simple-box {
  @extend %box-base;
  background-color: color-mix(in srgb, var(--background) 80%, var(--foreground) 20%);
  border: 1px solid var(--foreground);
  &--no-border {
    border: none;
  }
}

.c-diagonal-box {
  @extend %box-base;
  background-color: color-mix(in srgb, var(--background) 75%, var(--foreground) 15%);

  html[data-theme='dark'] & {
    background-color: color-mix(in srgb, var(--background) 95%, var(--foreground) 5%);
  }
  border-radius: var.$border-radius-5xl 0 var.$border-radius-5xl 0;
}

.c-sticky-box {
  @extend %box-base;
  padding: 2em;
  margin: 0 auto 2em;
  background-color: color-mix(in srgb, var(--background) 100%, var(--main-color) 5%);
  border: 1px solid var(--line-color);
  border-left: solid var.$spacing-md var(--main-color);
  border-radius: inherit;
  box-shadow: var.$box-shadow-base;
}

.c-fill-box {
  @extend %box-base;
  padding-block: var.$spacing-lg var.$spacing-xl;
  padding-inline: var.$spacing-lg;
  background-color: var(--main-color);
  border: 1px solid var(--line-color);
}

.c-fill-box:nth-child(even) {
  background-color: var(--sub-color);
}

.c-stripe-box {
  @extend %box-base;
  @include mixins.stripe-background;
}

html[data-theme='dark'] {
  .c-simple-box {
    background-color: color-mix(in srgb, var(--background) 90%, white 10%);
  }
  .c-sticky-box {
    background-color: color-mix(in srgb, var(--background) 100%, var(--main-color) 5%);
  }
}

@mixin icon-box-variant($color, $icon-char) {
  display: flex;
  grid-gap: 0 0.7em;
  align-items: center;
  padding-block: var.$spacing-sm;
  padding-inline: var.$spacing-lg;
  margin: var.$spacing-md auto;
  background-color: color-mix(in srgb, $color 30%, black 0%);
  border: 1px solid $color;
  border-radius: var.$border-radius-md;

  &::before {
    display: flex;
    flex-shrink: 0;
    align-items: center;
    justify-content: center;
    width: var.$spacing-lg;
    height: var.$spacing-lg;
    font-size: calc(var.$spacing-lg - 2px);
    font-weight: var.$font-weight-bold;
    color: color-mix(in srgb, #e9e9e9 100%, $color 5%);
    content: $icon-char;
    background-color: color-mix(in srgb, $color 50%, var(--background) 5%);
    border-radius: var.$border-radius-circle;
    filter: drop-shadow(-1px 1px 3px color-mix(in srgb, $color 100%, var(--background) 5%));
  }
}

.c-info-box {
  @extend %box-base;
  @include icon-box-variant(var(--color-yellow), 'i');
}

.c-question-box {
  @extend %box-base;
  @include icon-box-variant(var(--color-blue), '?');
}

.c-alert-box {
  @extend %box-base;
  @include icon-box-variant(var(--color-red), '!');
}
