@use 'styles/abstracts/variables' as var;

.c-card {
  position: relative;
  display: flex;
  flex-direction: column;
  height: 100%;
  overflow: hidden;
  background-color: var(--main-color);
  border-radius: var.$border-radius-md;
  box-shadow: 0 5px 10px color-mix(in srgb, var(--background) 80%, var(--main-color) 80%);

  transition:
    transform 0.2s ease-in-out,
    box-shadow 0.2s ease-in-out;
  .c-tags {
    .c-tag {
      background-color: var(--sub-color);
    }
  }
}

.c-card:has(.c-card__link) {
  @media (hover: hover) {
    &:hover {
      box-shadow: 0 10px 20px rgba(0, 0, 0, 0.12);
      transform: translateY(-4px);
      .c-card__title {
        text-decoration: underline;
        text-decoration-thickness: 3px;
        text-decoration-color: color-mix(in srgb, var(--background) 50%, var(--main-color) 0%);
      }
    }
  }
  &:active {
    box-shadow: 0 5px 12px rgba(0, 0, 0, 0.15);
    transform: translateY(-1px);
  }
}

.c-card:nth-child(even) {
  background-color: var(--sub-color);
  box-shadow: 0 5px 10px color-mix(in srgb, var(--background) 80%, var(--sub-color) 80%);
  .c-tags {
    .c-tag {
      background-color: var(--main-color);
    }
  }
}

.c-card__image {
  width: 100%;
  height: auto;
  aspect-ratio: 16 / 9;
  object-fit: cover;
}

.c-card__body {
  display: flex;
  flex-grow: 1;
  flex-direction: column;
  padding: 16px;
  font-family: var.$font-family-sans;
}

.c-card__title {
  margin-top: 0;
  margin-bottom: 8px;
  font-family: var.$font-family-serif;
  font-size: 1.2rem;
  font-weight: var.$font-weight-bold;
  color: var(--foreground) !important;
}

.c-card__description {
  flex-grow: 1;
  font-size: 0.9rem;
  font-weight: var.$font-weight-normal;
  line-height: 1.2 !important;
  color: var(--foreground) !important;
  word-break: break-all;
  line-break: anywhere;
  p {
    font-size: 0.9rem;
    line-height: 1.2 !important;
  }
}
.c-card__link {
  color: inherit;
  text-decoration: none;
  cursor: pointer;
  &::after {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    width: 100%;
    height: 100%;
    content: '';
  }
  transition:
    transform 0.2s ease-in-out,
    box-shadow 0.2s ease-in-out;
}
