@use 'styles/abstracts/variables' as var;
// ベースとなる「塗りつぶしブロック」のスタイル
.c-filled-block {
  height: 100%;
  border-radius: var.$border-radius-lg;

  ul {
    padding-block: var.$spacing-lg;
    padding-inline: var.$spacing-xl;
    margin: 0;
    list-style: none;
  }

  li {
    margin-block-end: var.$spacing-lg;
    font-size: large;
    text-align: left;

    &:last-child {
      margin-block-end: 0;
    }
  }
}

.is-primary {
  background-color: var(--main-color);
}

.is-secondary {
  background-color: var(--sub-color);
}

.is-accent {
  background-color: var(--accent-color);
}
