@use '@/styles/abstracts/placeholders';

.c-input,
.c-textarea,
.c-search-input {
  background-color: color-mix(in srgb, var(--foreground) 10%, var(--main-color) 10%);
}
.c-input {
  @extend %form-control-base;
}

.c-textarea {
  @extend %form-control-base;
  min-height: 150px;
  resize: vertical;
}

.c-search-input {
  @extend %form-control-base;
}
