@use 'styles/abstracts/variables' as var;
@use 'styles/utils/animations';

.list {
  padding: 0;
  list-style: none;
  h3,
  p {
    font-family: inherit;
  }
  h3 {
    text-align: left;
  }
  a {
    color: var(--foreground) !important;
    @media (hover: hover) {
      &:hover {
        @include animations.anim-transition-base;
      }
    }
  }
}

.listText {
  display: flex;
  flex-direction: column;
  gap: var.$spacing-md;
  justify-content: space-between;
}

.listTitle {
  display: flex;
  flex-direction: row;
  gap: var.$spacing-md;
}

.listMeta {
  display: flex;
  flex-direction: row;
  gap: var.$spacing-md;
}

.newBadge {
  color: var(--sub-color);
  font-weight: var.$font-weight-bold;
}

@media screen and (max-width: var.$breakpoint-lg) {
  .newsList {
    width: 100%;
  }
}
