@use 'styles/abstracts/variables' as var;

.postNavigation {
  gap: 3px !important;
  max-width: var.$breakpoint-lg;
  padding: 3px;
  margin: 3rem auto;
  background-color: var(--lineColor);
  border: 1px solid var(--lineColor);
  border-radius: 4px;
  @media screen and (max-width: var.$breakpoint-lg) {
    max-width: 480px;
  }
}

.navItem {
  padding: 0.5rem 1rem;
  text-align: center;
  background-color: var(--background);
}
