@use 'styles/abstracts/variables' as var;

.postNavigation {
  max-width: var.$breakpoint-lg;
  padding: 3px;
  margin: 3rem auto;
  font-size: 0.9rem;
  @media screen and (max-width: var.$breakpoint-lg) {
    max-width: 480px;
  }
}

.navItem {
  min-height: var.$spacing-xxl;
  padding: 0.5rem 1rem;
  text-align: center;
  background-color: var(--main-color);
  border-radius: var.$border-radius-md;
  a {
    color: var(--foreground);
    &:visited {
      color: var(--foreground);
    }
  }
}
.navItem:nth-child(2) {
  background-color: var(--sub-color);
}

.navItem:not(:has(> :not(br):not(span):not(i))),
.navItem:nth-child(2):not(:has(> :not(br):not(span):not(i))) {
  background-color: transparent;
}
