@use '@/styles/abstracts/variables' as var;
.carousel {
  width: 100%;
  height: 100%;
  margin-block-end: var.$spacing-md;
}

.slideContent {
  position: relative;
  width: 100%;
  max-width: 490px;
  height: 100%;
  aspect-ratio: 16 / 9;
  margin-inline: auto;
  img {
    margin: 0 !important;
  }
  &--poster {
    max-width: 390px;
    aspect-ratio: 800 / 1131;
  }
  &--4-3 {
    aspect-ratio: 4 / 3;
  }
  @media (max-width: var.$breakpoint-md) {
    max-width: inherit;
    &--poster {
      max-width: inherit;
    }
  }
  @media (max-width: var.$breakpoint-sm) {
    max-width: inherit;
    &--poster {
      max-width: inherit;
    }
  }
}
