@use '@/styles/abstracts/variables' as var;

.title {
  position: relative;
  z-index: 10;
  margin-block-end: calc(-1 * var.$spacing-xl) !important;
}

.box {
  max-width: var.$container-max-width-md;
  padding-block-start: var.$spacing-xxl;
}

.atSymbol::before {
  content: '@';
}

.notesSection {
  ul {
    padding-inline-start: 0;
    list-style: none;
    li {
      position: relative;
      padding-left: 1.5em;
      line-height: 1.6;
      li {
        margin-top: 0.5rem;
      }
    }
    li::before {
      position: absolute;
      top: 0;
      left: 0;
      font-weight: var.$font-weight-bold;

      color: var(--sub-color);
      content: '※';
    }
  }
}
