@use 'styles/abstracts/variables' as var;

.u-responsive-image {
  max-width: 100%;
  height: auto;
}

.u-image-rounded-sm {
  border-radius: var.$border-radius-sm;
}

.u-image-rounded-md {
  border-radius: var.$border-radius-md;
}

.u-image-rounded-lg {
  border-radius: var.$border-radius-lg;
}

.u-image-rounded-full {
  border-radius: var.$border-radius-circle;
}
