@use 'styles/abstracts/variables' as var;

.container {
  width: 100%;
  font-family: var.$font-family-serif;
  font-weight: var.$font-weight-black;
  line-height: 2.4;

  p {
    margin-block-end: var.$spacing-lg;
    font-size: 1.2rem;
  }
  @media screen and (max-width: var.$breakpoint-lg) {
    line-height: 1;
    p {
      margin-block-end: var.$spacing-sm;
    }
  }
  @media screen and (max-width: var.$breakpoint-sm) {
    p {
      font-size: 0.9rem;
    }
  }
}
