@use '@/styles/abstracts/variables' as var;

.form {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  max-width: 600px;
  margin: 0 auto;
}

.formGroup {
  display: flex;
  flex-direction: column;
}

.label {
  margin-bottom: 0.5rem;
  font-weight: var.$font-weight-bold;

  color: var(--foreground);
}

.input,
.textarea {
  padding: 0.75rem;
  font-size: 1rem;
  color: var(--foreground);
  background-color: var(--background);
  border: 1px solid var(--line-color);
  border-radius: 4px;
  transition: border-color 0.2s;

  &:focus {
    outline: none;
    border-color: var(--main-color);
  }
}

.visuallyHidden {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  white-space: nowrap;
  border: 0;
  clip: rect(0, 0, 0, 0);
}

.checkboxWrapper {
  display: flex;
  gap: 0.5rem;
  align-items: center;
}

.checkbox {
  width: 1rem;
  height: 1rem;
  cursor: pointer;
}

.checkboxLabel {
  font-size: 0.9rem;
  a {
    color: var(--main-color);
    text-decoration: underline;
    &:hover {
      text-decoration: none;
    }
  }
}

.error {
  margin-top: 0.5rem;
  font-size: 0.875rem;
  color: var(--color-red);
}

.required {
  position: relative;
  top: 0;
  margin-left: 0.25rem;

  font-size: 0.9em;
  color: var(--color-red);
}
