.breadcrumbs {
  padding-block: 1em;
  ol {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    padding: 0;
    margin: 0;
    font-size: 0.9rem;
    list-style: none;
  }

  li {
    display: flex;
    align-items: center;
  }
  a,
  span {
    display: inline-flex;
    gap: 0.25em;
    align-items: center;
    :global(svg) {
      transform: translateY(1px);
    }
  }

  a {
    color: var(--main-color);
    text-decoration: none;
    &:hover {
      text-decoration: underline;
    }
  }

  span {
    color: var(--foreground);
  }
}

.breadcrumbItem {
  display: inline-flex;
  align-items: center;
  white-space: nowrap;
  &:last-child {
    flex: 1;
    min-width: 0;
  }
}
.breadcrumbItem:last-child > span {
  display: inline-block;
  width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  vertical-align: middle;
  white-space: nowrap;
}

.separator {
  flex-shrink: 0;
  margin-inline: 0.5em;
  color: color-mix(in srgb, var(--foreground) 70%, var(--background) 5%);
  transform: translateY(1px);
}
