@use '@/styles/abstracts/variables' as var;

.container {
  padding-inline: var.$spacing-lg;
  background-color: var(--background-secondary);
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-family: var.$font-family-serif;
    font-weight: var.$font-weight-bold;
  }
  h1 {
    position: relative;
    margin-block-end: var.$spacing-lg;

    &::after {
      position: absolute;
      bottom: -10px;
      left: 50%;
      display: block;
      width: 50px;
      height: 5px;
      content: '';
      background-color: var(--foreground);
      transform: translate(-50%);
    }
    @media (max-width: var.$breakpoint-lg) {
      margin-block-start: var.$spacing-xxl;
    }
    @media (max-width: var.$breakpoint-md) {
      font-size: inherit;
    }
  }

  @media (max-width: var.$breakpoint-md) {
    padding-inline: var.$spacing-md;
  }
  @media (max-width: var.$breakpoint-sm) {
    padding-inline: var.$spacing-sm;
  }
}
.featuredImageContainer {
  position: relative;
  width: 100%;
  max-width: var.$breakpoint-md;
  aspect-ratio: 1.91/1;
  overflow: hidden;
  border-radius: var.$border-radius-md;
  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  @media (max-width: var.$breakpoint-md) {
    width: 100vw;
    margin: 0 calc(50% - 50vw);
    border-radius: 0;
  }
}

.content {
  padding-block: var.$spacing-xl;

  h2 {
    width: 100%;
    padding: 0.7em 0.9em;
    margin-block: var.$spacing-lg;
    color: var(--foreground);
    background-color: color-mix(in srgb, var(--background) 70%, var(--main-color) 5%);
    border-bottom: 3px solid var(--line-color);
    border-left: var.$border-radius-md solid var(--main-color);
  }
  h3,
  h4 {
    margin-block-end: var.$spacing-md;
  }
  h3 {
    width: 100%;
    padding: 0.2em 0.5em 0.4em;
    color: var(--foreground);
    background-color: color-mix(in srgb, var(--background) 70%, var(--main-color) 5%);
    border-bottom: 3px solid var(--main-color);
  }
  h4 {
    width: 100%;
    padding: 0.3rem 0;
    background-image: linear-gradient(
      90deg,
      var(--main-color) 0 50%,
      color-mix(in srgb, var(--background) 70%, var(--main-color) 5%) 20%
    );
    background-repeat: no-repeat;
    background-position: bottom;
    background-size: 100% 10%;
  }
  h5,
  h6 {
    margin-block-end: var.$spacing-sm;
  }
  h5 {
    border-bottom: 3px solid var(--main-color);
  }
  @media (max-width: var.$breakpoint-md) {
    h2,
    h3,
    h4,
    h5,
    h6 {
      font-size: inherit;
    }
  }
  ul,
  ol,
  p {
    margin-block-end: var.$spacing-md;
  }
  table {
    p {
      margin-block-end: 0;
    }
  }
  img {
    margin-block: var.$spacing-md;
  }
}
