@use 'styles/abstracts/variables' as var;

.root {
  position: relative;
  z-index: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow: inset 0px var.$spacing-lg var.$spacing-lg
    color-mix(in srgb, var(--foreground) 10%, var(--main-color) 0%);
}

.container {
  max-width: var.$breakpoint-lg;
  margin: var.$spacing-xxl auto;
}

.sitemap,
.newsCategories,
.otherLinks {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.contentWrapper {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding-inline: var.$spacing-xl;
}

.sitemapTitle {
  margin-bottom: 1rem;
  font-family: inherit;
  font-size: 1.1rem;
  text-align: left !important;
}

.sitemapList {
  display: flex;
  flex-direction: column;
  gap: 0.8rem;
  padding: 0;
  margin: 0;
  list-style: none;
}

.sitemapLink {
  text-decoration: none;
  transition: opacity 0.2s;

  &:hover {
    text-decoration: underline;
    opacity: 0.8;
  }
}

.copyright {
  position: relative;
  z-index: 5;
  width: 100%;
  padding-block: var.$spacing-xl;
  font-size: 0.8rem;
  text-align: center;
  background-color: var(--background);
  opacity: 0.8;
  .copyrightText {
    position: relative;
    z-index: 100;
  }
  a {
    color: var(--foreground);
    &:visited {
      color: var(--foreground);
    }
  }
}
