@use 'styles/abstracts/variables' as var;
@use 'styles/utils/animations';

.carouselContainer {
  position: relative;
  height: calc(100vh - 80px);
  @media (max-width: var.$breakpoint-lg) {
    height: 50vh;
  }
  :global(.swiper-slide-active) .carouselImage,
  :global(.swiper-slide-duplicate-active) .carouselImage,
  :global(.swiper-slide-prev) .carouselImage {
    animation: zoomOut 10s linear both;
  }
  @keyframes zoomOut {
    0% {
      transform: scale(1.3);
    }
    100% {
      transform: scale(1);
    }
  }
}

.carousel {
  position: relative;
  display: flex;
  width: 100%;
  height: 100%;
  overflow: hidden;
  background-color: var(--background);
}

.heroLogoImage {
  position: absolute;
  top: 50%;
  left: 20%;
  z-index: 1;
  width: auto;
  max-height: 90%;
  opacity: 1;
  transform: translateY(-50%);
  @media (max-width: var.$breakpoint-lg) {
    top: 50%;
    right: 5%;
    left: auto;
    width: auto;
    max-height: 90%;
  }
}
