@use '@/styles/abstracts/variables' as var;
@use '@/styles/utils/animations' as animation;

.carouselContainer {
  position: relative;
  height: calc(100vh - 80px);
  @media (max-width: var.$breakpoint-lg) {
    height: 50vh;
  }
  :global(.swiper-slide-active) .carouselImage,
  :global(.swiper-slide-duplicate-active) .carouselImage,
  :global(.swiper-slide-prev) .carouselImage {
    animation: zoomOut 10s linear both;
  }
  @keyframes zoomOut {
    0% {
      transform: scale(1.3);
    }
    100% {
      transform: scale(1);
    }
  }
}

.carousel {
  position: relative;
  display: flex;
  width: 100%;
  height: 100%;
  overflow: hidden;
  background-color: var(--background);
}

.heroLogoImage {
  position: absolute;
  right: 5%;
  bottom: 10%;
  z-index: 1;
  width: auto;
  max-width: 60vw;
  max-height: 90%;
  opacity: 0;
  @include animation.anim-fadeIn;
  @media (max-width: var.$breakpoint-lg) {
    right: 5%;
    bottom: 5%;
    left: auto;
    width: auto;
    max-width: 90vw;
    max-height: 90%;
  }
}
