@use '@/styles/abstracts/variables' as var;

.container {
  width: 100%;
  margin-block-end: var.$spacing-lg;
  p {
    width: 100%;
    white-space: pre-wrap;
  }
  ul {
    display: block;
    padding-left: 2em;
    list-style: disc;
  }
  ol {
    display: block;
    padding-left: 2em;
    list-style: decimal;
  }
  li {
    display: list-item;
  }
}
